name: PR Title Conventional Commit Validation

on:
  pull_request:
    types:
      - opened
      - edited

jobs:
  validate-pr-title:
    runs-on: ubuntu-latest
    steps:
      - name: PR Conventional Commit Validation
        uses: ytanikin/pr-conventional-commits@fda730cb152c05a849d6d84325e50c6182d9d1e9 # v1.5.1
        with:
          task_types: '["feat","fix","docs","test","ci","build","refactor","perf","chore","revert"]'
          custom_labels: |
            {
              "feat": "feature",
              "fix": "bug",
              "docs": "documentation",
              "test": "test",
              "ci": "ci"
            }
